<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>sbregion</Title>
			<Description>Inserts region / endregion</Description>
			<Shortcut>sbrgn</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp">
				<![CDATA[]]>
				/////////////////////////////////////////////////////////
				#region $RGNAME$

				#endregion $RGNAME$
				/////////////////////////////////////////////////////////
			</Code>
			<Declarations>
				<Literal>
					<ID>RGNAME</ID>
					<ToolTip>Region name</ToolTip>
					<Default>rgname</Default>
				</Literal>
			</Declarations>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>
